<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BUYSELL</title>
</head>
<body>
<h1>BUYSELL</h1><hr>
<h4>Подробная информация о товаре</h4>
<img src="/images/${product.images.get(0)}" height="60px"/><br><br>
<img src="/images/${product.images.get(1)?if_exists}" height="60px"/><br><br>
<img src="/images/${product.images.get(1)?if_exists}" height="60px"/><br><br>
<b>Название товавра: </b>${product.title}<br>
<b>Описание товара: </b>${product.description}<br>
<b>Цена: </b>${product.price}<br>
<b>Город: </b>${product.city}<br>
<b>Автор: </b><a href="/user/${product.user.id}}">${product.user.name}</a><br>
</body>
</html>